/*slideshow*/
* {
    box-sizing: border-box
}
/* Slideshow container */

.slideshow-container {
    top: -40px;
    max-width: 770px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    text-align: center;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
}
.prev {

    left: -50px;
}
/* Position the "next button" to the right */
.next {
    right: -50px;
}
.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}
/* Caption text */

.text {
    font-family: 'Open Sans', sans-serif;
    color: #f2f2f2;
    font-size: 25px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */

.dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    border: 1px solid white;
    /*background-color: #bbb;*/

    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: white;
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/*skill bars*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 3px
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    border-radius:  3px 0 0 3px;
}

#html  {width: 80%; background-color: rgb(200, 200, 200);}
#css   {width: 70%; background-color: rgb(50, 50, 50);}
#js    {width: 20%; background-color: rgb(150, 150, 150);}
#ps    {width: 40%; background-color: rgb(100, 100, 100);}
/*fadein inladen tekst*/

/*@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fadein {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  10% {

    opacity: 0;
  }
  100% {
    transform: scale(1);
      opacity: 1;
  }
}
@keyframes fadein2 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
      opacity: 1;
  }
}
@keyframes fadein3 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
      opacity: 1;
  }
}*/

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
html {
    min-height: 100%
}
body {
    min-height: 100%;
    background: url(background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;


}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/*header*/

header {
    animation: fadein 5s;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}
h1 {
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
/*nav*/

nav {
    z-index: 2
}
.currentpage {
    border-bottom: 2px solid white;
    font-size: 17px;
}
ul {
    display: flex;
    list-style-type: none;
}
ul li {
    padding-left: 15px;
}
ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
/*text*/
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.beroep h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.beroep h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /*color: #888 ;*/
}
/*text index*/
h2.index {
  animation: fadein2 5s;
  color: white;
  font-size: 35px;
}
h3.index {
  animation: fadein3 5s;
  color: white;
  font-size: 28px;
}
/*text overmij*/
h1, h2, h3,{
  font-family: 'Roboto', sans-serif;
}
H4 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  animation: fadein2 5s;
  z-index: 0;
  margin-top: 55px;
  text-align: center;
}
/*index*/

section.index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fotoindex {
    height: 50px;
    margin-top: 15px;
}
.fotoplacement {
    animation: fadein3 5s;
    width: 240px;
    display: flex;
    justify-content: space-evenly;
}

/*overmij*/
article.overmij {

}

/*opleiding*/
main {
    margin z-index: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
.mainovermijb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
}
.mainovermijc {
  width: 55%;
  height: 450px;
  display: flex;
  flex-direction: row;
}
.mainovermijb h3 {
  padding-bottom: 5px;
}
#fotospace {
  padding-left: 20px;
}
.textovermij {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainovermijc img {
width: 38%;
}
.overmij h4 {
  padding: 10px 0 5px 0;
}
.overmij p {
  padding: 5px 0;
}
section.vaardigheden {
  width: 35%;
}
.mainopl {
  margin-top: 100vh;
}
article.overmij {
  height: 100%;
}
section.box {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-evenly;
}
.box article.textbox {
    margin: 15px 10px;
    animation: fadein3 5s;
    margin: 0.5% 5% 2% 5%;
    height: 120px;
    width: 520px;
    padding: 16px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(200, 200, 200, 0.3);
}
h2 {
    margin-bottom: 39.5px;
}
/*beroep*/

@media screen and (max-width: 1070px) and (min-width: 600px) {
    h2 {
        margin-bottom: 39.5px;
    }
}
@media screen and (max-width: 600px) {
    body {
        min-width: 390px;
    }
    h2 {
        margin-bottom: 39.5px;
    }
    .box article.textbox {
        width: 84.5%;
    }
    nav {
      display: none;
    }
}
@media screen and (max-width: 860px) {
  .prev {
    left: 0;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}
